@import "tailwindcss";

:root {
  --background: 243 243 243;
  --background-secondary: 238 238 238;
  --foreground: 23 23 23;
  --neutral: 250 250 250;
  --primary: 255 186 0;
  --dark-secondary-100: 26 26 26;
  --dark-secondary-70: 94 94 94;
  --text-secondary: 94 94 94;
  --line-color: 210 210 210;
  --discount-BG: 255 203 203;
}

@theme inline {
  --color-background: rgb(243 243 243);
  --color-background-secondary: rgb(238 238 238); /* EEEEEE */
  --color-foreground: rgb(var(--foreground));
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
  --font-bpg-web-002-caps: var(--font-bpg-web-002-caps);
  --color-neutral: rgb(250 250 250);
  --color-primary: rgb(255 186 0); /* FFBA00 */
  --color-dark-secondary-100: rgb(26 26 26);
  --color-dark-secondary-90: rgb(48 48 48); /* 303030 */
  --color-dark-secondary-70: rgb(94 94 94);
  --color-text-secondary: rgb(94 94 94);
  --color-line-color: rgb(210 210 210);
  --color-discount-BG: rgb(255 203 203);
  --color-discount-text: rgb(180 0 0);
}

input:focus {
  outline: none;
  box-shadow: none;
}

body {
  font-family: var(--font-inter);
}

.customContainer {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
